.home {
  position: relative;
}
.home__decoration {
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);

  position: absolute;
  top: -200px;
  right: -500px;
  z-index: -1;
  width: 50vw;
  height: 50vw;
  border-radius: 50% 100%;
}

@media screen and (max-width: 1500px) {
  .home__decoration {
    display: none;
  }
}
